.about {
  padding: 1rem;
  margin-bottom: 4rem;
}

.aboutContainer {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.aboutContainer h2 {
  font-size: 2.5rem;
  font-family: "Markazi";
  color: var(--secondary-color);
}

.aboutContainer h3 {
  font-size: 2rem;
  font-family: "Markazi";
}

.aboutContainer p {
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.aboutPhotos {
  width: 90%;
}

.aboutPhotos img {
  width: 100%;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

/* Screens between 540px and 768px */
@media (min-width: 540px) and (max-width: 768px) {
  .aboutContainer {
    grid-template-columns: 1fr;
  }
  .aboutPhotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
  }
}

/* Mobile screens */
@media (max-width: 540px) {
  .aboutContainer {
    grid-template-columns: 1fr;
  }
  .aboutPhotos {
    width: 100%;
  }
}
