.testimonial {
  background-color: #fff;
  color: var(--font-color);
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.testimonial img {
  height: 120px;
  max-width: 140px;
  object-fit: contain;
  border-radius: 50%;
}

.testimonialHeader {
  text-align: center;
}

.testimonialHeader p {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.5rem 0 1.5rem;
}
