@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&family=Markazi+Text:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400;1,500;1,700&display=swap");

:root {
  --primary-color: #495e57;
  --secondary-color: #f4ce14;
  --tertiary-color: #ee9972;
  --font-color: #333;
  --light-gray-color: #edefee;
  --light-orange-color: #fbfabb;
  --outline-color: #5879dd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  color: var(--font-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--font-color);
  cursor: pointer;
}

a:hover {
  color: var(--tertiary-color);
}

blockquote {
  font-style: italic;
  padding: 10px;
  border-left: 5px solid #ccc;
  margin: 0;
}

input {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  border: 1px solid gray;
  color: var(--font-color);
  border-radius: 4px;
  font-size: 1.1rem;
}

input:focus {
  border: 1px solid var(--font-color);
  color: var(--font-color);
  outline-color: var(--outline-color);
  transition: 0.3s;
}

option {
  font-size: 1rem;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 1rem;
}
